{%extends "index.html" %} 
{%block content%} 

<!-- Begin Page Content -->                
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Maintain Data</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <div id="metadataStatistics" class="row">

         <!--Statistics Card - Number of Entities-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Number of Entities</div>
                            <div id="numberOfEntities" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-database fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!--Statistics Card - Number of Relationships-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Number of Relationships</div>
                            <div id="numberOfRelationships" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exchange-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Statistics Card - Top Entities-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Top Entities
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="topEntities" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-4 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add New Entity</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Entity Type</label>
                        <div class="row">
                            <div class="col-lg-11">
                                <select class="form-control" id="entityTypeSelect" list="values" name="values">
                                    <option value="{{classes[0].name}}"  selected>
                                        {% if classes[0].label != None %}
                                            {{classes[0].label}}
                                        {% else %}
                                            {{classes[0].name}}
                                        {% endif %}</option>
                                    {% for class in classes[1:] %}
                                        <option value="{{class.name}}">
                                            {% if class.label != None %}
                                                {{class.label}}
                                            {% else %}
                                                {{class.name}}
                                            {% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="entityDescription" style="text-align: center" class="col-lg-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                <i class="fas fa-question-circle text-gray-700"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label for="entityName">Entity Name</label>
                            <input type="text" class="form-control" id="entityName" placeholder="new_entity_name">        
                        </div>
                        <div class="col-auto">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                Auto Naming
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Add another Entity
                            </label>
                        </div>
                    </div>
                    <button id="addEntityCancle" class="btn btn-secondary">Cancel</button>
                    <button id="addEntitySubmit" class="btn btn-primary">Submit</button>  
                </div>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-8 mb-4">
            <!-- Project Card Example -->
            <div id="propertyForm" class="card shadow mb-4 d-none">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-11">
                            <h6 class="m-0 font-weight-bold text-primary">Add Properties</h6>
                        </div>
                        <div class="col-1 text-right">
                            <button id="propertySettignsDropdownButton" class="btn btn-sm dropdown-toggle dropleft" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul id="propertySettignsDropdown" class="dropdown-menu" >
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div id="propertyForm_textInputs" class="form-row align-items-center">
                            <!--Textboxes for properties will be injected here-->
                            <!--Update happens on class/entity selection-->
                        </div>                        
                    </form>
                </div>
            </div>
            <div id="relationshipForm" class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add Relationships</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="card-body">
                            <form>
                                <div id="relationshipForm_textInputs" class="form-row align-items-center">
                                    <!--Textboxes for properties will be injected here-->
                                    <!--Update happens on class/entity selection-->
                                </div>                        
                            </form>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button id="test" class="btn btn-primary">Test Button</button>

    <!-- Property Save Blueprint Modal -->
    <div class="modal fade" id="propertySaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you wanna save the properties as blueprint?</h5>
                </div>
                <div class="modal-body">
                    <label for="propertyBlueprintName">Property Blueprint Name</label>
                    <input type="text" class="form-control" id="propertyBlueprintName" placeholder="new_blueprint_name">
                </div>
                <div class="modal-footer">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="propertieSave_dontAskAgain">
                        <label class="form-check-label" for="propertieSave_dontAskAgain">
                        Don't ask again
                        </label>
                    </div>
                    <button id="propertySave_cancelButton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="propertySave_saveButton" type="button" class="btn btn-primary">Save Properties</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}